/**********************************
 *                                *
 *             OpenOS             *
 *                                *
 *           Onofficiel           *
 *                                *
/*********************************/

/*           master.css          */

.cs-move {
    cursor: move;
}
.cs-pointer {
    cursor: pointer;
}
.cs-default {
    cursor: default;
}
.cs-wait {
    cursor: wait;
}

.text-not-selectable {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}